# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/

# pytest
.pytest_cache/

# Allure
allure-results/
allure-report/

# HTML Report
reports/

# VSCode
.vscode/

# IDE
.idea/

# Windows
Thumbs.db
Desktop.ini

# Python Environment
.env