# Python
__pycache__/
*.pyc
*.pyo
logs/

# Virtual Environment
venv/

# Laravel
laravel/vendor/
laravel/node_modules/
laravel/.env

laravel/storage/logs/*
!laravel/storage/logs/.gitignore

laravel/bootstrap/cache/*.php

# pytest
.pytest_cache/

# Allure
allure-results/
allure-report/

# HTML Report
reports/

# VSCode
.vscode/

# IDE
.idea/

# Windows
Thumbs.db
Desktop.ini

# Python Environment
.env

# OS
.DS_Store
Thumbs.db